trunk/resources/schemata/observations.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="observations">
	<xs:complexType>
	<xs:sequence>
		<xs:element name="observation" type="observationType" maxOccurs="unbounded"/>
	</xs:sequence>
	</xs:complexType>
</xs:element>

<xs:complexType name="observationType">
<xs:attribute name="name" type="xs:string"/>
<xs:attribute name="type">
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="substring"/>
			<xs:enumeration value="exactstring"/>
			<xs:enumeration value="template"/>
		</xs:restriction>
	</xs:simpleType>
</xs:attribute>
<xs:attribute name="content" type="xs:string"/>
</xs:complexType>

</xs:schema>