resources/schemata/actions.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="actions">
	<xs:complexType>
	<xs:sequence>
		<xs:element name="action" type="actionType" maxOccurs="unbounded"/>
	</xs:sequence>
	<xs:attribute name="var" type="xs:string"/>
	</xs:complexType>
</xs:element>

<xs:complexType name="actionType">
<xs:attribute name="value" type="xs:string"/>
<xs:attribute name="type">
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="string"/>
			<xs:enumeration value="template"/>
			<xs:enumeration value="motion"/>
		</xs:restriction>
	</xs:simpleType>
</xs:attribute>
<xs:attribute name="content" type="xs:string"/>
</xs:complexType>

</xs:schema>